<div class="flex flex-row h-10 w-full bg-violet-500 text-black items-center gap-4 justify-center p-2">
    <div class="w-[80%]">
        <img src="/images/logo.png" alt="Habit Tracker" class="h-10 ml-4">
    </div>
    <p class="text-center w-[5%]"><strong><%= user.name %> </strong></p>
    <p class="text-center cursor-pointer w-[5%]">
        <strong>
            <a href="/user/endSession">Sign Out</a>
        </strong>
    </p>
</div>