<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/719efef3b1.js" crossorigin="anonymous"></script>
    <%- style %>
</head>

<body>

    <%- body %>

    <%- script %>
</body>

</html>