<div class="w-full">
    <div class="w-2/3 mx-auto h-screen">
        <div class="text-center">
            <h1 class="text-3xl font-medium">Create The Habit</h1>
        </div>
        <form class="flex flex-col gap-4 w-3/4 mx-auto" action="/habit/create" method="post">
            <div class="input-box flex flex-col text-left">
                <label for="title font-normal">Title</label>
                <input class="h-10 bg-indigo-200 rounded-lg" type="text" name="title" id="title" required>
            </div>
            <div class="input-box flex flex-col text-left">
                <label for="start_date font-normal">Start Date</label>
                <input class="h-10 bg-indigo-200 rounded-lg" type="date" name="start_date" id="start_date" required>
            </div>
            <input class="bg-orange-900 w-24 h-10 text-white cursor-pointer rounded-md" type="submit" value="Add">
        </form>
    </div>
</div>