<div class="w-full">
    <div class="w-2/3 mx-auto border">
        <div class="text-center">
            <h1>Create The Habit</h1>
        </div>
        <form class="flex flex-col gap-4" action="/habit/create" method="post">
            <div class="input-box flex flex-col text-left">
                <label for="title">Title</label>
                <input class="h-10" type="text" name="title" id="title" required>
            </div>
            <input class="bg-orange-900 w-24 h-10 text-white cursor-pointer" type="submit" value="Add">
        </form>
    </div>
</div>